crewai==0.35.8
crewai-tools==0.4.0
langchain_community==0.0.38
flask==3.0.3
python-dotenv==1.0.1
pypdf==4.2.0
faiss-cpu==1.8.0
langchain-groq==0.1.5
langchain-google-genai==1.0.6
ddgs
langchain==0.1.20
langchain-core==0.1.52
langsmith==0.1.75
